@{
    ViewBag.Title = "Login title";
}
<!-- This view is executed before the _Layout.cshtml -->
<p>Login page Razer</p>
@section Scripts
{
    <script>
        alert("After footer Scripts section");
    </script>
}